[Unit]
Description=Radio Secousse
After=network-online.target sound.target
Wants=network-online.target sound.target

[Service]
Environment="SDL_AUDIODRIVER=alsa"
Environment="AUDIODEV=plughw:1,0"
ExecStart=/bin/bash -c '/usr/bin/ffplay -nodisp https://stream.secousse.org/$(cat /etc/secousse/stream.conf)'
Type=simple
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
